@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4" style="color:orange;font-weight:bold">Welcome To New Year Eve Party Invitation</h2>
    <div>
        we are goging to have exiciting party <br />
        (To Do:Sell it better.Add Picture or somthing)

        <hr />

        <a asp-action="GoPartyGustForm">Go Party Gust Form</a>
    </div>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
